/**
 * Email:angcyo@126.com
 * @author angcyo
 * @date 2020/10/12
 * 滚动条样式
 * import './css/scrollbar.scss'
 * 已在index.js中初始化
 */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(96, 20, 11, 0.2);
  /*background-color: rgba(0, 0, 0, 0.2);*/
  -webkit-border-radius: 60px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 60px;
  background-color: rgba(64, 158, 255, 0.7);
  /*background-color: rgba(125, 125, 125, 0.7);*/
  -webkit-border-radius: 60px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 3px;
  background-color: rgba(64, 158, 255, 0.7);
  -webkit-border-radius: 6px;
}

